<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Menu">WebApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <% if (active === 'main') { %>active<% } %>">
                <a class="nav-link <% if (active === 'main') { %>active<% } %>" href="Menu">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if (active === 'Calculator') { %>active<% } %>" href="Calculator">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if (active === 'Users') { %>active<% } %>" href="Users">Users</a>
            </li>

            <li class="nav-item">
                <p class="nav-link disabled"><%= 228322%></p>
            </li>

            <li class="nav-item">
<!--                <a class="nav-link active" href="" onclick="$('<form method=POST action=/logout>').submit();return false">Logout</a>-->
                <form id="logout" action="/logout" method = "POST"></form>
                <a class="nav-link active" onclick="document.getElementById('logout').submit();" >Logout</a>
<!--                    <button type="submit" name="login-button" style="align-self: end" >Logout</button>-->
            </li>


        </ul>
    </div>
</nav>