<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/StyleCalculator.css">
    <meta charset="UTF-8">
    <%- include('./partials/bootstrap'); %>
    <title>Calculator</title>

</head>
<body id="body">

<%- include('./partials/navbar'); %>


<div class="grid">
    <h1 id="Input" class="Input1"> Salam   </h1>
    <h1 id="Output" class="Output1"> Output...</h1>
<input id="1" class="numbers" type="image" img src="../Photos/CPhotos/One.png">
<input id="2" class="numbers" type="image" img src="../Photos/CPhotos/Two.png">
<input id="3" class="numbers" type="image" img src="../Photos/CPhotos/Three.png">

<button id="back" class="actions" >&#8592</button>

<input id="4" class="numbers" type="image" img src="../Photos/CPhotos/Four.png">
<input id="5" class="numbers" type="image" img src="../Photos/CPhotos/Five.png">
<input id="6" class="numbers" type="image" img src="../Photos/CPhotos/Six.png">

<button id="plus" class="signs">+</button>
<button id="minus" class="signs" >-</button>

<input id="7" class="numbers" type="image" img src="../Photos/CPhotos/Seven.jpg">
<input id="8" class="numbers" type="image" img src="../Photos/CPhotos/Eight.png">
<input id="9" class="numbers" type="image" img src="../Photos/CPhotos/Nine.jpg">

<button id="multiply" class="signs" >*</button>
<button id="divide" class="signs" >/</button>

<button id="clear" class="actions" >C</button>
<button id="zero" class="numbers" >0</button>
<button id="zerozero" class="numbers" >00</button>

<button id="equal" class="actions" >=</button>
</div>





<script src="../js/Calculator.js"></script>
</body>
</html>