<!doctype html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="css/StyleLog.css">
    <%- include('./partials/bootstrap'); %>

    <title>Login</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form action="/login" method = "POST" class="login-form">
            <input  type="text" placeholder="email" name="email"/>
            <input  type="password" placeholder="password" name="password"/>

            <button type="submit" name="login-button" value="Log In">login</button>

            <p class="message">Not registered? <a href="/Create">Create an account</a></p>
        </form>
    </div>
</div>

</body>
</html>
