<!doctype html>
<html lang="en">
<head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <link rel = "stylesheet" href="css/StyleLog.css">
    <%- include('./partials/bootstrap'); %>

    <title>Login</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form action="/login" method = "POST" class="login-form">
            <input  type="text" placeholder="email" name="email"/>
            <input  type="password" placeholder="password" name="password"/>

            <button type="submit" name="login-button" value="Log In">login</button>
        </form>
        <!--Google button-->
        <form action="/google" method = "GET" class="login-form">
            <button type="submit" name="login-button" value="Google In" style="margin-top:10px; background-color: cornflowerblue"> Sign up with google</button>
        </form>
                <!--Google button-->
            <p class="message">Not registered? <a href="/Create">Create an account</a></p>
    </div>
</div>

</body>
</html>
